
*{
    margin : 0;  
    background: #EF3330;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.centraliza{
    height: 350px;
    width: 350px;
    position: relative;
    top: 150px;
}