<template>
  <section>
    <h1>{{ usuario }}, seja bem vindx!</h1>
    
    
    
    <select v-model="opcaoSelecionada" @change="onChange">
      <option v-for="opcao in opcoes" :key="opcao.id" :value="opcao">
        {{ opcao.texto }}
      </option>
    </select>
    <h3 v-show="opcaoSelecionada.texto">Selecionado: {{ opcaoSelecionada.texto }}</h3>

    <TabelaPokemon :pokemons="pokemons"
      v-bind:onProximaPagina="onProximaPagina"
      v-bind:onPaginaAnterior="onPaginaAnterior"
      v-bind:temPaginaAnterior="temPaginaAnterior"
      v-bind:temProximaPagina="temProximaPagina" />

  </section>
</template>

<script>
import PokeApi from '../../api/pokeApi.js'
import PokemonLinha from '../shared/PokemonLinha.vue'
import TabelaPokemon from '../shared/TabelaPokemon.vue'

const pokeApi = new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )

export default {
  name: 'Home',
  components: {
    PokemonLinha, TabelaPokemon
  },
  data: () => {
    return {
      usuario: '',
      opcoes: [
        { id: 1, texto: 'Normal' },
        { id: 2, texto: 'Lutador' },
        { id: 3, texto: 'Voador' },
      ],
      opcaoSelecionada: {},
      pokemons: [ ],
      todosPokemonsDoTipo: [ ], // este array é para "cachear" os pokémons do tipo, não precisando requisitá-los novamente
      paginaAtual: 0,
      qtdPokemonsPagina: 10
    }
  },
  computed: {
    qtdPaginas: function() {
      const tamanhoLista = this.todosPokemonsDoTipo.length,
        listaComTamanhoExato = tamanhoLista % 10 === 0
      // ~~ tem o mesmo efeito do Math.floor
      return listaComTamanhoExato ? tamanhoLista : ~~( tamanhoLista / this.qtdPokemonsPagina ) + 1
    },
    temProximaPagina: function() {
      return this.paginaAtual < this.qtdPaginas
    },
    temPaginaAnterior: function() {
      return this.paginaAtual > 1
    }
  },
  methods: {
    async onChange() {
      this.todosPokemonsDoTipo = await pokeApi.listarPorTipo( this.opcaoSelecionada.id )
      this.paginaAtual = 1
      this.pokemons = await this.paginar( this.paginaAtual )
    },
    async onProximaPagina() {
      this.pokemons = await this.paginar( ++this.paginaAtual )
    },
    async onPaginaAnterior() {
      this.pokemons = await this.paginar( --this.paginaAtual )
    },
    async paginar( paginaAtual ) {
      return pokeApi.paginar( this.todosPokemonsDoTipo, this.qtdPokemonsPagina, paginaAtual )
    }
  },
  created() {
    this.usuario = this.$route.params.usuario
  }
}
</script>

