* {
    margin: 0;
}
.container{
    display: flex;
}
.quadrante{
    flex-direction: column;
}
.blue {
    background-color:mediumblue;
}
.white {
    background-color: white;
}
.linha-90-73{
    width: 90px;
    height: 73px;
}
.linha-140-146{
    width: 140px;
    height: 145.9px;
}
.linha-140-73{
    width: 140px;
    height: 73px;
}
.linha-90-365{
    width: 90px;
    height: 365px;
}
.linha-996-73{
    width: 996px;
    height: 73px;
}

