* {
    margin: 0;
}

.coluna, container{
    display:flex;
    flex-direction: column;
}
.linha{
    display:flex;
    flex-direction:row;
}
.flag {
    height: 100vh;
    width: 100vw;
}
.altura35-9{
    height: 35.9vh;
}
.altura10{
    height: 185px;
}
.tam20{
    width: 20vw;
}
.tam70{
    width: 70vw;
}
.tam10{
    width: 185px;
}
.branca{
    background-color: #ffffff;
}
.azul{
    background-color: #002f6c;
}

