 *{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circulo {
    height: 350px;
    width: 350px;
    border-radius: 175px;
    background-color: firebrick;
    position: relative;
    top: 150px;
}
