* {
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10px;
}
.item {
    background-color: #EF3330;
    width: 536px;
    height: 145px;
}

