* {
    margin: 0;
}
.flag{
    width: 100%;
    height: 100%;
    position: absolute;  
}
.black {
    background-color: black;

}
.red {
    background-color: #EF3330;
}
.yellow{
    background-color: yellow;
}
.stripe {
    width: calc(100%/3);
    height: 100%;
    float: left;
}