* {
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
.black {
    background-color: black;
}
.red {
    background-color: #EF3330;
}
.yellow{
    background-color: yellow;
}
.linha {
    height: 219px;
}