<!DOCTYPE html>
<html>
    <head>
            <title>Hello World</title>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="src/pokeApi.js"></script>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="src/estilo.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <section id="meuPrimeiroApp" class="whiteLetter">
            <div class="container-fluid blue">
                <input class="not-blue" type="text" placeholder="ex: 103" v-on:blur="buscarElemento()" v-model="idParaBuscar">
                <ul>
                    <div class="row">
                        <div class="col-auto">
                            <h1>Nome: {{ pokemon.nome }}</h1>
                            <li>Altura: {{ pokemon.altura}}</li>
                            <li>Peso: {{ pokemon.peso}}</li>
                        </div>
                        <div class="col-auto ml-auto">
                            <h1>Tipos deste Pokemon</h1>
                            <li v-for="tipo of pokemon.tipo">{{tipo}}</li>
                        </div>
                        <div class="col-auto ml-auto">
                            <h1>Estatisticas deste Pokemon</h1>
                            <li v-for="estatistica of pokemon.estatistica">{{estatistica}}</li>
                        </div>
                    </div>
                </ul>
                <div class="row justify-content-center">
                        <div class="col-4">
                                <img class="size-img" v-bind:src="pokemon.imagem" alt=""> 
                        </div>
                </div>
            </div>
        </section>
        <script src="src/app.js"></script>    
        <script src="src/pokemon.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>