<template>
    <div class="form-group">
    <label v-bind:for="nome">Senha</label>
    <input type="password" v-bind:name="nome" v-model="valor" class="form-control" v-bind:id="nome" placeholder="senha">
  </div>
</template>

<script>
export default {
    name: 'PasswordInput',
    props: {
        nome:String
    },
    data: () => {
        return{
             valor:''
        }
    }
}
</script>
