<template>
    <tr>
        <th scope="row">{{pokemon.id}}</th>
            <td>{{pokemon.nome}}</td>
            <td><img v-bind:src="pokemon.imagem" v-bind:alt="pokemon.nome"></td>
            <td>{{pokemon.peso}} Kg</td>
            <td>{{pokemon.altura}} cm</td>
    </tr>
    
</template>
<script>
export default {
    name: 'PokemonLinha',
    props: {
        pokemon: Object
    }
}
</script>
