<template>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOME</th>
                <th scope="col">FOTO</th>
                <th scope="col">PESO</th>
                <th scope="col">ALTURA</th>
            </tr>
        </thead>
        <tbody>
            <PokemonLinha v-for="pokemon in pokemons" v-bind:key="pokemon.id" v-bind:pokemon="pokemon" />
        </tbody>    
    </table>
</template>
<script>
import PokemonLinha from './PokemonLinha.vue'
export default {
    name: 'TabelaPokemon',
    props: {
        pokemons: Array
    },
    components: {
        PokemonLinha
    }
}
</script>