<template>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Thumb</th>
        <th scope="col">Altura</th>
        <th scope="col">Peso</th>
      </tr>
    </thead>
    <tbody>
      <PokemonLinha :pokemon="pokemon" v-for="pokemon in pokemons" :key="pokemon.id" />
    </tbody>
    <tfoot class="container">
      <div class="row justify-content-between">
        <div class="col">
          <Button texto="Anterior" v-bind:onClick="onPaginaAnterior" v-show="temPaginaAnterior" /> 
        </div>
        <div class="col">
          <Button texto="Próxima" v-bind:onClick="onProximaPagina" v-show="temProximaPagina" />
        </div>
      </div>
    </tfoot>
  </table>
</template>
<script>
import PokemonLinha from './PokemonLinha.vue'
import Button from './Button.vue'
export default {
  name: 'TabelaPokemon',
  components: {
    PokemonLinha, Button
  },
  props: {
    pokemons: Array,
    onProximaPagina: Function,
    onPaginaAnterior: Function,
    temProximaPagina: Boolean,
    temPaginaAnterior: Boolean
  }
}
</script>











