<template>
    <section>
        <h2>Escolha o tipo de Pokemon!</h2>
        <Button v-show="numPage>1" v-bind:texto="textoBotaoPrev" v-on:click.native="onSubmitPrev"/>
        <select v-model='opcaoSelecionada' v-on:change="onChange">
            <option v-for="opcao in opcoes" v-bind:key="opcao.id" v-bind:value="opcao"> {{ opcao.texto }}</option>
        </select>
        <Button v-show="pokPorTipos.length===limitPage" v-bind:texto="textoBotaoNext" v-on:click.native="onSubmitNext"/>
        <h3 v-show="opcaoSelecionada.texto">Selecionado: {{opcaoSelecionada.texto}}</h3> 
        <TabelaPokemon v-bind:pokemons="pokPorTipos" />
    </section>
</template>
<script>
import PokeApi from '../../api/pokeApi.js'
import TabelaPokemon from '../shared/TabelaPokemon.vue'
import Button from '../shared/Button.vue'
export default {
    name: 'Home',
    components: {
        TabelaPokemon, Button
    },
    data: () => {
        return {
            usuario:'',
            opcoes: [
                { id: 1, texto: 'Normal'},
                { id: 2, texto: 'Lutador'},
                { id: 3, texto: 'Voador'}
            ],
            opcaoSelecionada: {},
            pokPorTipos:[],
            textoBotaoPrev: 'Anterior',
            textoBotaoNext: 'Próxima',
            numPage: 1,
            limitPage: 10,
            pokeApi: new PokeApi( 'https://pokeapi.co/api/v2/pokemon' )
            
            
        }
    },
    created() {
        this.usuario = this.$route.params.usuario
    },
    methods: {
    async onChange() {
      this.pokPorTipos = await this.pokeApi.listarPorTipo( this.opcaoSelecionada.id, this.numPage, this.limitPage )
    },
    async onSubmitPrev(){
            this.pokPorTipos = await this.pokeApi.listarPorTipo( this.opcaoSelecionada.id, --this.numPage, this.limitPage)
    },
    async onSubmitNext(){
            //this.numPage++
            this.pokPorTipos = await this.pokeApi.listarPorTipo( this.opcaoSelecionada.id, ++this.numPage, this.limitPage)
    }
  } 
}
</script>



